<!-- <!doctype html> -->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vichain</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body style="display: none;">
    <div id="app" class="container-fluid text-center d-flex flex-column" style="height: 100vh">
        <div class="row" style="text-align: initial;">
            <div class="col-12">
                <h2 style="margin-bottom: 0;">Vichain</h2>
                <span>Visual blockchain</span>
            </div>
        </div>
        <div class="row bg-light align-items-center justify-content-top"
            style="flex: 1 1 auto; min-height: 0; height: 100%;">
            <div class="col-9" id="visualisation-div" style="height: 100%; margin: 0;">
                <canvas id="visualisation-canvas" style="border-style: double; height: 100%; width: 100%;"></canvas>
            </div>
            <div class="col-3" style="align-self: start; max-height: 100%; overflow: scroll;">
                <div v-if="networkManager.selectedNode">
                    <h2>Node {{ networkManager.selectedNode.id }}</h2>
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-events-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-events" type="button" role="tab" aria-controls="nav-events"
                                aria-selected="true">Events</button>
                            <button class="nav-link" id="nav-wallets-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-wallets" type="button" role="tab" aria-controls="nav-wallets"
                                aria-selected="false">Wallets</button>
                            <button class="nav-link" id="nav-mempool-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-mempool" type="button" role="tab" aria-controls="nav-mempool"
                                aria-selected="false">Mempool</button>
                            <button class="nav-link" id="nav-blockchain-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-blockchain" type="button" role="tab" aria-controls="nav-blockchain"
                                aria-selected="false">Blockchain</button>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active overflow-scroll" style="max-height: fit-content;"
                            id="nav-events" role="tabpanel" aria-labelledby="nav-events-tab">

                            Processable events
                            <div v-if="processableEvents.length > 0">
                                <ul class="list-group" v-for="event in processableEvents">
                                    <li class="list-group-item"
                                        :style="`font-size: small; padding: 0; background-color: ${networkManager.settings.events[event.constructor.name].color}; color: white;`">
                                        {{translateEventClassName(event)}} {{ event.message ?
                                        `(${getTranslation(event.message.constructor.name)})` : '' }}</li>
                                </ul>
                            </div>
                            <div v-else>
                                <ul class="list-group">
                                    <li class="list-group-item" style="font-size: small; padding: 0;">Nothing in queue
                                    </li>
                                </ul>
                            </div>

                            Processing events
                            <div v-if="processingEvents.length > 0">
                                <ul class="list-group" v-for="event in processingEvents">
                                    <div>
                                        <li class="list-group-item"
                                            :style="`font-size: small; padding: 0; background-color: ${networkManager.settings.events[event.constructor.name].color}; color: white;`">
                                            {{translateEventClassName(event)}} {{ event.message ?
                                            `(${getTranslation(event.message.constructor.name)})` : '' }}
                                        </li>
                                        <progress :value="event.progress" :max="event.duration"
                                            style="width: 99%; height: 3; margin-bottom: 5;"></progress>
                                    </div>
                                </ul>
                            </div>
                            <div v-else>
                                <ul class="list-group">
                                    <li class="list-group-item" style="font-size: small; padding: 0;">Nothing is
                                        processed</li>
                                </ul>
                            </div>

                            Processed events
                            <div v-if="processedEvents.length > 0"
                                :set="maxPages = Math.ceil(processedEvents.length/itemsPerPage)">
                                <ul class="list-group"
                                    v-for="event in processedEvents.slice(Math.max(0, processedEvents.length-(processedEventsPage+1)*itemsPerPage), processedEvents.length-processedEventsPage*itemsPerPage).reverse()">
                                    <li class="list-group-item"
                                        :style="`font-size: small; padding: 0; background-color: ${networkManager.settings.events[event.constructor.name].color}; color: white`">
                                        <span style="float: left; margin-left: 10;">{{translateEventClassName(event)}}
                                            {{ event.message ? `(${getTranslation(event.message.constructor.name)})` :
                                            '' }}</span>
                                        <span class="badge bg-secondary"
                                            style="float: right; margin-right: 10;">{{event.processingEndTimestamp.toFixed(0)}}</span>
                                    </li>
                                </ul>

                                <div class="pt-2">
                                    <button class="btn btn-secondary btn-sm" :disabled="processedEventsPage === 0"
                                        @click="() => networkManager.processedEventsPage--" style="float: left;">Newer
                                        events</button>
                                    <button class="btn btn-secondary btn-sm"
                                        :disabled="processedEventsPage >= maxPages-1"
                                        @click="() => networkManager.processedEventsPage++" style="float: right;">Older
                                        events</button>
                                </div>

                            </div>
                            <div v-else>
                                <ul class="list-group">
                                    <li class="list-group-item" style="font-size: small; padding: 0;">Nothing's
                                        processed yet</li>
                                </ul>
                            </div>

                        </div>

                        <div class="tab-pane fade" id="nav-wallets" role="tabpanel" aria-labelledby="nav-wallets-tab">
                            Managed wallets
                            <div v-if="managedAccounts.length > 0">
                                <ul class="list-group" v-for="account in managedAccounts">
                                    <li class="list-group-item">
                                        <div style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                            Public key: 0x<u style="text-decoration-style: dashed; cursor: pointer;"
                                                @click="copyToClipboard">{{ account.wallet.publicKey }}</u>
                                        </div>
                                        <div style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                            Private key: 0x<u style="text-decoration-style: dashed; cursor: pointer;"
                                                @click="copyToClipboard">{{ account.wallet.privateKey }}</u></div>
                                        <div>Spendable token amount: {{
                                            account.accountHistory.availableBalanceByLeadingBlockHash.get(leadingBlocks[0].block.blockHash)
                                            }}</div>

                                        <div v-if="account.accountHistory.transactions.length > 0">
                                            <ul class="list-group"
                                                v-for="relatedTransaction in account.accountHistory.transactions">
                                                <li class="list-group-item"
                                                    :style="'font-size: small; padding: 0; color: white; background-color: ' + ((account.accountHistory.isTransactionCommitted(relatedTransaction.transactionHash, leadingBlocks[0].block.blockHash)) ? 'red;' : 'darkgoldenrod;')">
                                                    <div v-if="relatedTransaction.transactionBody.sourceAddress">
                                                        [{{ relatedTransaction.transactionBody.id }}]
                                                        {{ relatedTransaction.transactionBody.amount }}
                                                        token(s) transfer from
                                                        0x{{
                                                        relatedTransaction.transactionBody.sourceAddress.slice(0,8)
                                                        }}...
                                                        to
                                                        0x{{
                                                        relatedTransaction.transactionBody.targetAddress.slice(0,8)
                                                        }}...
                                                    </div>
                                                    <div v-else>
                                                        [{{ relatedTransaction.transactionBody.id }}]
                                                        {{ relatedTransaction.transactionBody.amount }}
                                                        token(s) generation for
                                                        0x{{
                                                        relatedTransaction.transactionBody.targetAddress.slice(0,8)
                                                        }}...
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div v-else>
                                            <ul class="list-group">
                                                <li class="list-group-item" style="font-size: small; padding: 0;">No
                                                    transaction history
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div v-else>
                                <ul class="list-group">
                                    <li class="list-group-item" style="font-size: small; padding: 0;">This node doesn't
                                        manage any wallets
                                    </li>
                                </ul>
                            </div>

                            <div v-if="networkManager.network.settings.isBlockchainInstalled">
                                <button type="button" class="btn btn-secondary btn-sm" style="width: 100%"
                                    data-bs-toggle="modal" data-bs-target="#postTransactionModal">Post
                                    transaction...</button>





                                <div class="modal fade" tabindex="-1" id="postTransactionModal">
                                    <div class="modal-dialog" style="min-width: 50%;">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Transaction posting</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">

                                                <div class="input-group mb-2">
                                                    <span class="input-group-text" id="hex-addon1">0x</span>
                                                    <div class="form-floating">
                                                        <input id="sourceAddresInput" type="text" class="form-control"
                                                            style="font-size: small;"
                                                            v-model="postTransactionRequest.sourceAddres"
                                                            aria-describedby="hex-addon1" />
                                                        <label for="sourceAddresInput">Source address (public
                                                            key)</label>
                                                    </div>
                                                </div>

                                                <div class="input-group mb-2">
                                                    <span class="input-group-text" id="hex-addon2">0x</span>
                                                    <div class="form-floating">
                                                        <input id="sourceAddresPrivateKeyInput" type="text"
                                                            class="form-control" style="font-size: small;"
                                                            v-model="postTransactionRequest.sourceAddresPrivateKey"
                                                            aria-describedby="hex-addon2" />
                                                        <label for="sourceAddresPrivateKeyInput">Source address (private
                                                            key)</label>
                                                    </div>
                                                </div>

                                                <div class="input-group mb-2">
                                                    <span class="input-group-text" id="hex-addon3">0x</span>
                                                    <div class="form-floating">
                                                        <input id="targetAddressInput" type="text" class="form-control"
                                                            style="font-size: small;"
                                                            v-model="postTransactionRequest.targetAddress"
                                                            aria-describedby="hex-addon3" />
                                                        <label for="targetAddressInput">Target address (public
                                                            key)</label>
                                                    </div>
                                                </div>

                                                <div class="form-floating mb-2">
                                                    <input id="amountInput" type="number" class="form-control"
                                                        v-model="postTransactionRequest.amount" />
                                                    <label for="amountInput">Amount</label>
                                                </div>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                                                    @click="postTransaction">Post transaction</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="tab-pane fade" id="nav-mempool" role="tabpanel" aria-labelledby="nav-mempool-tab">
                            <div v-if="pooledTransactions.length > 0">
                                <ul class="list-group" v-for="transaction in pooledTransactions">
                                    <li class="list-group-item"
                                        :style="'font-size: small; padding: 0; color: white; background-color: ' + ((networkManager.network.walletPool.getBurnAddress() === transaction.transactionBody.targetAddress) ? 'red;' : 'darkgoldenrod;')">
                                        [{{ transaction.transactionBody.id }}]
                                        {{ transaction.transactionBody.amount }} from
                                        0x{{ transaction.transactionBody.sourceAddress.slice(0,8) }}... to
                                        0x{{ transaction.transactionBody.targetAddress.slice(0,8) }}...
                                    </li>
                                </ul>
                            </div>
                            <div v-else>
                                <ul class="list-group">
                                    <li class="list-group-item" style="font-size: small; padding: 0;">Nothing in
                                        transaction pool
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-blockchain" role="tabpanel"
                            aria-labelledby="nav-blockchain-tab">



                            <div v-if="networkManager.currentBlocks.length > 0">

                                <div id="forksCarousel" class="carousel carousel-dark slide">
                                    <div class="carousel-inner">
                                        <div v-for="(block, index) in networkManager.currentBlocks"
                                            :class="'carousel-item' + (index === 0 ? ' active' : '')">
                                            <h6>
                                                Block {{block.block.blockBody.height}}
                                            </h6>
                                            <div style="text-overflow: ellipsis; overflow: hidden">
                                                Hash: 0x{{block.block.blockHash}}
                                            </div>
                                            <ul class="list-group"
                                                v-for="transaction in block.block.blockBody.transactions">
                                                <li class="list-group-item"
                                                    :style="'font-size: small; padding: 0; color: white; background-color: ' + ((networkManager.network.walletPool.getBurnAddress() === transaction.transactionBody.targetAddress) ? 'red;' : 'darkgoldenrod;')">
                                                    <div v-if="transaction.transactionBody.sourceAddress">
                                                        [{{ transaction.transactionBody.id }}]
                                                        {{ transaction.transactionBody.amount }} token(s) transfer from
                                                        0x{{
                                                        transaction.transactionBody.sourceAddress.slice(0,8)
                                                        }}...
                                                        to
                                                        0x{{
                                                        transaction.transactionBody.targetAddress.slice(0,8)
                                                        }}...
                                                    </div>
                                                    <div v-else>
                                                        [{{ transaction.transactionBody.id }}]
                                                        {{ transaction.transactionBody.amount }} token(s) generation for
                                                        0x{{
                                                        transaction.transactionBody.targetAddress.slice(0,8)
                                                        }}...
                                                    </div>
                                                </li>
                                            </ul>

                                            <div class="pt-2">
                                                <button :disabled="block.previousBlock === null"
                                                    class="btn btn-secondary btn-sm"
                                                    @click="() => networkManager.currentBlocks.splice(index, 1, block.previousBlock)">Previous
                                                    block</button>
                                            </div>

                                            <hr />

                                            <h6>
                                                Current blockchain state
                                            </h6>
                                            <table class="table" style="table-layout: fixed; width: 100%;">
                                                <thead>
                                                    <tr>
                                                        <td scope="col" class="col-3">Address</td>
                                                        <td scope="col" class="col-2">Balance</td>
                                                        <td scope="col" class="col-2">Burnt tokens</td>
                                                        <td scope="col" class="col-2">Mining chance</td>
                                                    </tr>
                                                </thead>
                                                <tbody style="font-size: small;">
                                                    <tr>
                                                        <td scope="col">All</td>
                                                        <td scope="col">{{ block.spendableTokensSupply }}</td>
                                                        <td scope="col">{{ block.burnMap.summedInvervalsSize }}
                                                        </td>
                                                        <td scope="col"></td>
                                                    </tr>
                                                    <tr v-for="address in block.accountMap.keys()">
                                                        <td
                                                            style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                                            0x<u style="text-decoration-style: dashed; cursor: pointer;"
                                                                @click="copyToClipboard">{{ address }}</u></td>
                                                        <td>{{ block.accountMap.get(address) }}
                                                        </td>
                                                        <td>{{ block.burnMap.getObjectIntervalsSize(address) || 0
                                                            }}
                                                        </td>
                                                        <td>{{
                                                            ((block.burnMap.getObjectIntervalsSize(address) ||
                                                            0)*100/block.burnMap.summedInvervalsSize).toFixed(2)
                                                            }}%</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <button v-if="networkManager.currentBlocks.length > 1" class="carousel-control-prev"
                                        type="button" data-bs-target="#forksCarousel" data-bs-slide="prev"
                                        style="align-items: start; padding-top: 0.5rem;">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button v-if="networkManager.currentBlocks.length > 1" class="carousel-control-next"
                                        type="button" data-bs-target="#forksCarousel" data-bs-slide="next"
                                        style="align-items: start; padding-top: 0.5rem;">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>

                            </div>
                            <div v-else>
                                <ul class="list-group">
                                    <li class="list-group-item" style="font-size: small; padding: 0;">Blockchain not
                                        installed yet
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>






                    <!-- <div v-if="network.selectedNode.eventProcessor.events.length > 0">
                    {{ network.selectedNode.eventProcessor.events[0] }}
                    </div> -->
                </div>
                <div v-else>
                    <h3 class="mt-2 mb-2">
                        Welcome to Vichain!
                    </h3>

                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-start-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-start" type="button" role="tab" aria-controls="nav-home"
                                aria-selected="true">Start</button>
                            <button class="nav-link" id="nav-blockchain-overview-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-blockchain-overview" type="button" role="tab"
                                aria-controls="nav-blockchain-overview" aria-selected="false">Blockchain</button>
                        </div>
                    </nav>

                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active overflow-scroll"
                            style="max-height: fit-content; text-align: left;" id="nav-start" role="tabpanel"
                            aria-labelledby="nav-start-tab">

                            <h6 class="mt-3 mb-1" style="text-indent: 1rem; line-height: 1.8rem;">
                                <button type="button" class="btn btn-info disabled btn-sm"
                                    style="font-size: x-small; font-weight: bold;">Left click</button> with
                                <button type="button" class="btn btn-info disabled btn-sm"
                                    style="font-size: x-small; font-weight: bold;">Ctrl</button> to create
                                new node or <button type="button" class="btn btn-primary btn-sm"
                                    style="font-size: x-small; font-weight: bold;" @click="createRandomNode">Create
                                    random
                                    node</button>.
                            </h6>

                            <hr class="mt-2 mb-2" />

                            <h6 class="mb-1" style="text-indent: 1rem; line-height: 1.5rem;">
                                <button type="button" class="btn btn-info disabled btn-sm"
                                    style="font-size: x-small; font-weight: bold;">Left click</button> on a node
                                with
                                <button type="button" class="btn btn-info disabled btn-sm"
                                    style="font-size: x-small; font-weight: bold;">Shift</button> holded and
                                drag to
                                another node to create link between the nodes manually (links are created also
                                automatically).
                            </h6>

                            <hr class="mt-2 mb-2" />

                            <h6 class="mb-1" style="text-indent: 1rem;">
                                <button type="button" class="btn btn-info disabled btn-sm"
                                    style="font-size: x-small; font-weight: bold;">Left click</button> on a node
                                to
                                select it.
                            </h6>

                            <hr class="mt-2 mb-2" />

                            <h6 class="mb-1" style="text-indent: 1rem;">
                                Hold <button type="button" class="btn btn-info disabled btn-sm"
                                    style="font-size: x-small; font-weight: bold;">Left click</button> on a
                                node
                                and
                                drag to move it.
                            </h6>

                            <hr class="mt-2 mb-2" />

                            <h6 class="mb-1" style="text-indent: 1rem;">
                                Press <button type="button" class="btn btn-info disabled btn-sm"
                                    style="font-size: x-small; font-weight: bold;">Space</button> to
                                (un)pause
                                the simulation.
                            </h6>

                            <hr class="mt-2 mb-2" v-if="!networkManager.network.settings.isBlockchainInstalled" />

                            <h6 v-if="!networkManager.network.settings.isBlockchainInstalled" class="mb-1"
                                style="text-indent: 1rem;">
                                And finally go to Blockchain tab!
                            </h6>
                        </div>

                        <div class="tab-pane fade mt-3" id="nav-blockchain-overview" role="tabpanel"
                            aria-labelledby="nav-blockchain-overview-tab">
                            <div class="form-floating mb-2">
                                <select id="consensusSelect" class="form-select" aria-label="Consensus mechanism"
                                    disabled>
                                    <option selected>Proof-of-Burn</option>
                                </select>
                                <label for="consensusSelect">Consensus mechanism</label>
                            </div>
                            <div class="form-floating mb-2">
                                <input id="initTokenAmountPerNodeInput" type="number" class="form-control"
                                    v-model="networkManager.network.settings.initTokenAmountPerNode"
                                    :disabled="networkManager.network.settings.isBlockchainInstalled" />
                                <label for="initTokenAmountPerNodeInput">Initial tokens amount per node</label>
                            </div>
                            <div class="form-floating mb-2">
                                <input id="roundTime" type="number" class="form-control"
                                    v-model="networkManager.network.settings.roundTime"
                                    :disabled="networkManager.network.settings.isBlockchainInstalled" />
                                <label for="roundTimeInput">Mining round duration (ms)</label>
                            </div>
                            <div class="form-floating mb-2">
                                <input id="minersPerRound" type="number" class="form-control"
                                    v-model="networkManager.network.settings.minersPerRound"
                                    :disabled="networkManager.network.settings.isBlockchainInstalled" />
                                <label for="minersPerRoundInput">Selected miners per round</label>
                            </div>
                            <div class="form-floating mb-2">
                                <input id="miningAward" type="number" class="form-control"
                                    v-model="networkManager.network.settings.miningAward"
                                    :disabled="networkManager.network.settings.isBlockchainInstalled" />
                                <label for="miningAwardInput">Tokens award for mined block</label>
                            </div>
                            <div class="form-floating mb-2">
                                <input id="maxTransactionsPerBlock" type="number" class="form-control"
                                    v-model="networkManager.network.settings.maxTransactionsPerBlock"
                                    :disabled="networkManager.network.settings.isBlockchainInstalled" />
                                <label for="maxTransactionsPerBlockInput">Maximum transactions per block</label>
                            </div>

                            <button v-if="!networkManager.network.settings.isBlockchainInstalled"
                                :disabled="networkManager.network.nodes.length === 0" type="button"
                                class="btn btn-primary btn-sm" style="width: 100%" @click="installBlockchain">Install
                                blockchain on created nodes</button>
                            <span style="font-size: x-small; color: red; font-weight: bold;"
                                v-if="networkManager.network.nodes.length === 0">To install blockchain at least one node
                                has to be created!</span>
                            <div v-if="networkManager.network.settings.isBlockchainInstalled"
                                style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                Burn address:
                                0x<u style="text-decoration-style: dashed; cursor: pointer;"
                                    @click="copyToClipboard">{{networkManager.network.walletPool.getBurnAddress() }}</u>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-4" style="align-self: center;">
                <div class="btn-group dropup mx-auto" style="float: left;">
                    <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Visibility
                    </button>
                    <ul class="dropdown-menu">
                        <li
                            v-for="event in Object.keys(networkManager.settings.events).filter(event => networkManager.settings.events[event].isVisible !== null)">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                                    v-model="networkManager.settings.events[event].isVisible">
                                <label class="form-check-label" for="flexSwitchCheckDefault"
                                    style="font-size: x-small;">{{ getTranslation(event) }} events</label>
                            </div>
                        </li>
                    </ul>
                </div>

                <div>
                    <input type="range" id="simulationSpeedInput" name="volume" min="0" max="10" step="0.05" v-model="networkManager.settings.simulationSpeed" />
                </div>

                <div>
                    <label for="simulationSpeedInput" style="font-size: small;">Simulation speed (x{{ networkManager.settings.simulationSpeed }})</label>
                </div>

            </div>
            <div class="col-1">
                <!-- <h3 v-if="network.currentFps">{{ network.currentFps }} FPS</h3> -->
                <div>
                    <h3>{{ (networkManager.network.timer.currentTimestamp/1000).toFixed(1) }}s</h3>
                </div>
            </div>
            <div class="col-4" style="align-self: center;">
                <div class="form-check form-switch" style="float: left;">
                    <input class="form-check-input" type="checkbox" id="showOnlyMetricsInput"
                        v-model="networkManager.settings.showOnlyMetrics">
                    <label class="form-check-label" for="showOnlyMetricsInput">Show only metrics</label>
                </div>

                <div class="btn-group dropstart mx-auto" style="float: right;">
                    <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Metrics: {{ getTranslation(networkManager.selectedMetrics) }}
                    </button>
                    <ul class="dropdown-menu">
                        <li v-for="metrics in networkManager.availableMetrics">
                            <a class="dropdown-item" href="#" @click="() => networkManager.selectedMetrics = metrics">{{
                                getTranslation(metrics) }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-3" style="text-align: right;">
                <p class="font-monospace" style="font-size: small; margin: 0;">created by Jan Jankowicz</p>
                <a class="font-monospace" style="font-size: x-small;" href="https://github.com/UniJanJan/vichain">GitHub
                    repository</a>
            </div>
        </div>
    </div>
</body>

<script src=" https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js "></script>
<script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
    integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/vuex@4.0.0/dist/vuex.global.js"></script>
<script src="https://peterolson.github.io/BigInteger.js/BigInteger.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.2.0/crypto-js.min.js"
    integrity="sha512-a+SUDuwNzXDvz4XrIcXHuCf089/iJAoN4lmrXJg18XnduKK6YlDHNRalv4yd1N40OKI80tFidF+rqTFKGPoWFQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="module" src="./src/index.js"></script>

</html>